html , body {
    
    background-color: midnightblue;
    background-image: linear-gradient(to bottom , rgba(62, 182, 153, 1) , rgba(66, 180, 205, 1) , rgba(60, 128, 178, 1) , rgba(54, 75, 152, 1));
    font-size: 19px;
    font-family:"" ;
    color:white;
    overflow-x: hidden
}  





@tailwind base;
@tailwind components;
@tailwind utilities;


/* welcome  */
.container {
    background-image: linear-gradient(to bottom , rgba(62, 182, 153, 1) , rgba(66, 180, 205, 1) , rgba(60, 128, 178, 1) , rgba(54, 75, 152, 1));
}

@media(min-width:600px) {
   .ul {
    position: absolute;
    left: 15% !important;
   }
   .sec1 {
    left:25% !important;
   }
   
}